* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.blck{
	margin-top: 15px;
	margin-bottom: 15px;
}

.cont1{
	max-width: 1620px;
	margin: 0 auto;
}

// @media (min-width: 1200px){
// 	.container {
//     width: 100%;
//     max-width: 1350px;
// 	}
// }

.container-fluid{
	max-width: 1745px
}

b{
	font-weight: bold;
	font-family: $f-g-b;
}
.aligncenter{
	margin: 0 auto;
}

.pos-rel{
	position: relative;
}

.whole{
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}

.s{
	padding-top: 70px;
	padding-bottom: 70px;
}



.sect{
	&-title{
		font-size: 28px;
		margin-bottom: 40px;
		line-height: 1.2;
		text-align: center;
	}
	&-descr{
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 3s0px;
	}
	&-head{
		font-size: 28px;
		// font-family: $f-m;
		font-weight: 700;
		margin-bottom: 3px;
	}
	&-role{
		font-size: 22px;
		margin-bottom: 20px;
	}
}//.sect

.page-title{
	font-size: 35px;
	font-family: $f-g-r;
	margin-bottom: 40px;
}

.p-l-30{
	padding-left: 30px;
}

h1{
	font-family: $f-g-l;
	font-size: 50px;
	font-weight: 200;
	margin: 30px 0 20px;
}

h2{
	font-size: 24px;
	font-family: $f-g-b;
	margin-top: 25px;
	margin-bottom: 20px;
}
h3{
	font-family: $f-g-m;	
	font-size: 20px;
	font-weight: 500;
	margin-top: 25px;
	margin-bottom: 20px;
}

h4{
	font-size: 24px;
	font-family: $f-g-r;	
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 20px;
}

h5{
	font-size: 30px;
	font-family: $f-g-r;	
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 20px;
}
em{
	font-style: italic;
	font-family: $f-g-li;
}
.icon {
  display: inline-block;
}

blockquote{
	display: inline-block;
	font-size: 24px;
	font-family: $f-g-li;	
	border-left: 9px solid $c-yw;
	padding-left: 20px;
	line-height: 1.7;
	position: relative;
	// &:before{
	// 	content:"";
	// 	display: flex;
	// 	width: 9px;
	// 	height: 100%;
	// 	background-color: $c-yw;
	// }
}

.content{
	font-weight: normal;
	line-height: 1.2;
	p{
		margin-bottom: 15px;
		line-height: 1.7;
	}
	ul,ol{
		margin-bottom: 20px;
		margin-left: 20px;
	}
	ul{
		list-style-type: none;

	}
	
	li{
		margin-bottom: 30px;
		position: relative;
		&:before{
			content: "";
			width: 6px;
			height: 6px;
			// background-color: $c-red;
			display: block;
			border-radius: 50px;
			position: absolute;
			top: 5px;
			left: -20px;

		}
	}


	img{
		margin-bottom: 20px;
	}
	strong{
	}
	iframe{
		width: 100%;
		height: auto;
		min-height: 310px;
		display: block;
		margin: 40px auto;
	}

	table{
		width: 100%;
		margin: 30px 0;
		tr:nth-child(even){
			td{
				background-color: #F6F6F6;
			}
		}
		tr:nth-child(odd){
			td{
				background-color: #ffffff;
			}
		}
		tr:first-child{
			td{
			}
		}
		td{
			text-align: center;
			padding: 15px 10px;
		}
	}
	
}//END.content

.hamburger{
	border: 1px solid #fff;
	padding: 10px 10px 3px;
	border-radius: 4px;
	&-inner{
		background-color: #fff;
		width: 24px;
		&:before{
			background-color: #fff;
			width: 24px;
		}
		&:after{
			background-color: #fff;
			width: 24px;	
		}
	}	
	&-box{
		width: 24px;
	}
}

.ov-hidd{
	overflow: hidden;
}

// ADDITIONAL CLASSES 

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

a{ 
	transition: all .3s ease-out;
	text-decoration: none;
	// color: $c-red;
	&:hover{
		// color: darken( $c-red, 10 );
		text-decoration: underline;
	}
}

button{ 
	transition: all .3s ease-out;
}
input{
	transition: all .3s ease-out;
}


#cboxContent{
	button{
		transition: none;
	}
}


.flexx{
	display: flex;
}
.flexx-wrap{
	flex-wrap: wrap;
}




// HACKS

.tbl{
	display: table;
	width: 100%;
}
.tbl-row{
	display: table-row;
}
.tbl-cell{
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	&:first-child{
		padding-left: 0;
	}
	&:last-child{
		padding-right: 0;
	}
}
.mdl{
	vertical-align: middle;
}
.vat{
	vertical-align: top;
}
.txt-cent{
	text-align: center;
}
.txt-left{
	text-align: left;
}
.txt-rght{
	text-align: right;
}
.fl-lft{
	float:left;
}
.fl-rght{
	float:right;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.c:after {
	content: "";
	display: table;
	clear: both;
}
.d-i-b{
	display: inline-block;
}

[class*="kd-col-"] {
	float: left;
	position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.kd-row{
	margin-left: -10px;
	margin-right: -10px;
}

.kd-row:before{
  content: " ";
  display: table;
}

.kd-row:after {
	content: "";
	clear: both;
	display: table;
}

.kd-col-1 {width: 8.33%;}
.kd-col-2 {width: 16.66%;}
.kd-col-3 {width: 25%;}
.kd-col-4 {width: 33.33%;}
.kd-col-5 {width: 41.66%;}
.kd-col-6 {width: 50%;}
.kd-col-7 {width: 58.33%;}
.kd-col-8 {width: 66.66%;}
.kd-col-9 {width: 75%;}
.kd-col-10 {width: 83.33%;}
.kd-col-11 {width: 91.66%;}
.kd-col-12 {width: 100%;}

.kd-col-13 {width: 20%;}

//HELPERS
.hidden-d{
	display: none;
}
.shown-d{
	display: block;
}
img{
	display: block;
	max-width: 100%;
	height: auto;
}