// FONTS
$f-o-r: 'OpenSansRegular';
$f-o-s: 'OpenSansSemibold';
$f-o-e: 'OpenSansExtraBold';
$f-o-b: "OpenSansBold";
$f-o-l: "OpenSansLight";


$f-g-r: 'GothamProRegular';
$f-g-l: 'GothamProLight';
$f-g-li: 'GothamProLightItalic';
$f-g-b: 'GothamProBold';
$f-g-bl: 'GothamProBlack';
$f-g-m: "GothamProMedium";

$f-m-r: "MyriadProRegular";



//COLOR
$c-wh: #ffffff;
$c-yw: #FF9900;
$c-grn: #009A9D;
$c-gy: #4A4A4A;
$c-bck: #000000;